* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segou UI', Arial, sans-serif;
}

header {
  color:#FFF;
  font-size: 21px;
  font-weight: 700;
  height: 100px;
  background-color: #1DA1F2;
  text-align: center;
}

header h1 {
  margin: 0;
}

form {
  height: 550px;
  background-color: #E6ECF0;
  padding-top: 10px;
}

#textTwitter {
  border: 1px solid #59B9F4;
  border-radius: 5px;
}

#tweetar {
  background-color: #59B9F4;
  border-radius: 20px;
  padding: 8px;
  border-style: none;
  color: #FFF;
  width: 90px;
  font-weight: 700;
  font-size: 14px;
}

#tweetar::before {
  background-color: grey;
}

#tweetar:hover {
  background-color: #1DA1F2;
}

#textTwitter {
  width: 500px;
  align: center;
  outline: none;
  resize: none;
}

#msg {
}
